.cartBase{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    /* border: 1px solid black; */
    text-align: center;
}

.boughtItems{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
}