*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}


button {
  margin: 10px;
  border-radius: 8px;
  border: none;
  padding: 0.5em 1em;    
  background: orange;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

